body{
    margin:0%;
    height: auto;
}

header{
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    text-align: right;
    padding: 15px;
    background-color: rgb(253, 41, 41);
}

#navigate{
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu{
    margin: 0%;
    background-color: rgba(131, 131, 133, 0.6);
}

.menu li{
    padding: 8px;
    display: inline-block;
}

.menu li a{
    color:rgb(0, 0, 0);
    text-decoration: none; 
    font-size: 18px;
}
.menu li:hover{
    background-color: rgb(167, 164, 164);
}

#dropdown{
    position: absolute;
    width: auto;
    max-width: 150px;
    display: none;
    top: 37px;
    background-color: rgba(82, 82, 82, 0.349);
    padding: 0%;
}

#dropdown li{
    display: block;
}

#dropdown li:hover{
    background-color: rgb(167, 164, 164);
}

#dropdown li a{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.menu li:nth-child(2):hover  #dropdown{
    display: block;
}

.menu li:nth-child(3):hover  #dropdown{
    display: block;
}
